
body {
  font-family: 'Roboto', sans-serif !important;
  background-color: #e9ebefef !important;
}

.container-fluid {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.header,
.footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.header p,
.footer p {
  margin: 0;
  text-align: center;
}

.form-group {
  padding-top: 10px;
}

#iconos {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}


#loginSubmit {
  background-color: #737c89; /* Change as needed */
  color: white;
  border: 2px solid #737c89;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

#loginSubmit:hover {
  background-color: white;
  color: black;
  border: 2px solid #737c89;
  border-radius: 5px;
}

#formulario {
  opacity: 0;
  transition: opacity 0.7s ease-in;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

#formulario.show {
  opacity: 1;
}

@media (max-width: 768px) {
  #formulario {
    width: 90%;
  }
}
